 .u-section-1 {
  background-image: none;
  min-height: 905px;
}

.u-section-1 .u-image-1 {
  height: 800px;
  margin-top: 1px;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-1 .u-layout-wrap-1 {
  width: 461px;
  margin: -777px auto 1px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-layout-cell-1 {
  min-height: 320px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 368px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 30px 30px;
}

.u-section-1 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 19px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 174px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 151px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 346px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-5 {
  padding: 40px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-5 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 376px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-6 {
  padding: 35px 30px;
}

.u-section-1 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: -1px auto 0;
  padding: 16px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 24px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 602px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 178px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 355px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 342px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-image-1 {
    height: 730px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -563px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1372px;
  }

  .u-section-1 .u-image-1 {
    height: 437px;
    margin-top: 56px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 378px;
    margin-top: 63px;
    margin-left: auto;
    margin-bottom: 27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 319px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 327px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1180px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 34px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 287px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 772px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 16px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 16px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 615px;
  margin-top: 4px;
  margin-bottom: 35px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 100%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-gallery-1 {
    height: 507px;
    margin-top: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-2 .u-gallery-1 {
    height: 874px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2779px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -59px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2622px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1843px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    font-weight: 400;
    margin-top: 25px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1651px;
    margin-top: 26px;
    margin-bottom: -14px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 772px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 16px 0 0;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2077px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-family: SFPRODISPLAYBOLD;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 39px 0 0;
}

.u-section-4 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-custom-html-2 {
  margin-top: 51px;
  margin-bottom: 0;
  height: auto;
  min-height: 322px;
}

.u-section-4 .u-custom-html-3 {
  height: auto;
  min-height: 322px;
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-4 .u-custom-html-4 {
  height: auto;
  min-height: 322px;
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-4 .u-custom-html-5 {
  height: auto;
  min-height: 399px;
  margin-top: 51px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1210px;
  }

  .u-section-4 .u-custom-html-2 {
    min-height: 168px;
  }

  .u-section-4 .u-custom-html-3 {
    min-height: 169px;
    margin-top: 47px;
  }

  .u-section-4 .u-custom-html-4 {
    min-height: 178px;
    margin-top: 21px;
  }

  .u-section-4 .u-custom-html-5 {
    min-height: 189px;
    margin-top: 31px;
  }
}.roundedBorder img {
   border-radius: 12px
}
.center {
  margin: auto	
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}