.u-section-1 .u-sheet-1 {
  min-height: 106px;
}

.u-section-1 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 3rem;
  margin: 18px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 12px;
    margin-bottom: 39px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 56px;
}

.u-section-2 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 1.875rem;
  width: auto;
  text-transform: none;
  margin: 12px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    min-height: 304px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 56px;
}

.u-section-4 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 1.875rem;
  width: auto;
  text-transform: none;
  margin: 12px auto;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    min-height: 304px;
    margin-top: 0;
  }
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}