 .u-section-1 {
  background-image: url("images/IMG_0664-levoTwin-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-group-1 {
  width: 649px;
  min-height: 421px;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  line-height: 1.1;
  letter-spacing: 5px;
  margin: 68px 4px 0 30px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 4px;
  font-family: nergishanergisha-0w1dp;
  font-size: 1.125rem;
  text-shadow: 2px 0px 8px rgba(128,128,128,1);
  margin: -7px 0 0 30px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 21px auto 0 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    text-transform: none;
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 65.93% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-group-1 {
    min-height: 296px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 514px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 364px;
  grid-gap: 16px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 4px 0 3px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 4px 0 3px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 4px 0 3px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 4px 0 3px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 536px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 386px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 852px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 702px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 835px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 725px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1446px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -9px;
    margin-bottom: -9px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-text-1 {
  font-size: 1.625rem;
  letter-spacing: 12px;
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 375px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-1 {
  width: 375px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-2 {
  width: 375px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-3 {
  width: 375px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-4 {
  width: 375px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-5 {
  width: 375px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-6 {
  width: 375px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}.u-section-4 .u-sheet-1 {
  min-height: 1179px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 621px;
}

.u-section-4 .u-image-1 {
  height: 516px;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0.95);
}

.u-section-4 .u-image-2 {
  min-height: 396px;
  background-image: url("images/jia.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 31px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 1017px;
}

.u-section-4 .u-container-layout-3 {
  padding-bottom: 30px;
}

.u-section-4 .u-shape-1 {
  height: 788px;
  width: 375px;
  margin: 64px 0 0 auto;
}

.u-section-4 .u-image-3 {
  width: 419px;
  height: 495px;
  margin: -637px auto 0;
}

.u-section-4 .u-text-1 {
  margin: -621px auto 0 88px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 14px 585px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-4 .u-image-1 {
    height: 425px;
  }

  .u-section-4 .u-image-2 {
    min-height: 327px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 839px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    letter-spacing: 2px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-4 .u-image-1 {
    height: 326px;
  }

  .u-section-4 .u-image-2 {
    min-height: 250px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-shape-1 {
    width: 345px;
  }

  .u-section-4 .u-image-3 {
    width: 345px;
    height: 408px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -534px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 588px;
  }

  .u-section-4 .u-image-1 {
    height: 489px;
  }

  .u-section-4 .u-image-2 {
    min-height: 375px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-4 .u-image-1 {
    height: 308px;
  }

  .u-section-4 .u-image-2 {
    min-height: 236px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 402px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -528px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 960px;
}

.u-section-5 .u-shape-1 {
  height: 656px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 950px;
  height: 678px;
  margin: -588px auto 0 calc(((100% - 1140px) / 2) + 34px);
}

.u-section-5 .u-group-1 {
  width: 506px;
  min-height: 360px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: -197px calc(((100% - 1140px) / 2)) 51px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 28px 0 0 31px;
}

.u-section-5 .u-text-2 {
  line-height: 1.67;
  font-size: 1.125rem;
  margin: 18px 20px 0 31px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 953px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 671px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-top: -190px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 44px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 796px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 514px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-top: -33px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 668px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 386px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-top: 95px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 525px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 243px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 695px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 966px;
  margin: 52px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 631px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  width: 166px;
  margin: 33px auto 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  width: 166px;
  margin: -33px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 8px;
}

.u-section-6 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 86px 8px 0;
}

.u-section-6 .u-text-5 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: normal;
  width: 293px;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  width: 183px;
  margin: 103px auto 0;
}

.u-section-6 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  width: 183px;
  margin: -33px auto 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.25rem;
  margin: 8px 22px 0 39px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 614px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-8 {
    width: 291px;
    margin-right: 28px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: 259px;
  }

  .u-section-6 .u-text-8 {
    width: 259px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 545px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 765px;
  margin: 51px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 268px;
  grid-gap: 20px 20px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 71px 7px 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: -106px 7px 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 71px 7px 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: -106px 7px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 71px 7px 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  margin: -106px 7px 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 23px;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 71px 7px 0;
}

.u-section-7 .u-text-9 {
  font-size: 1.125rem;
  margin: -106px 7px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 271px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 622px;
  }

  .u-section-7 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 4.5rem;
  }

  .u-section-7 .u-text-8 {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 4.0625rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-4 {
    font-size: 4.0625rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-6 {
    font-size: 4.0625rem;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-8 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-list-1 {
    margin-top: 137px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-7 .u-text-8 {
    font-size: 3rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 400px;
}

.u-section-8 .u-custom-html-1 {
  margin-bottom: 60px;
}.roundedBorder {
   border-radius: 50px
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}