 .u-section-1 {
  background-image: url("images/HomeSplashWebsite-v2.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 692px;
}

.u-section-1 .u-group-1 {
  width: 649px;
  min-height: 421px;
  height: auto;
  margin: 280px auto -9px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  line-height: 1.1;
  letter-spacing: 5px;
  font-family: nergishanergisha-0w1dp;
  margin: 68px 4px 0 30px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 2px;
  font-family: SFPRODISPLAYBOLD;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
  margin: -7px 0 0 30px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-family: SFPRODISPLAYBOLD;
  font-weight: 700;
  --radius: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 15px auto 0 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    margin-top: 183px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    width: auto;
    margin-top: 73px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    line-height: 1.45;
    margin-top: -6px;
  }

  .u-section-1 .u-btn-1 {
    --radius: 40px;
    margin-top: 8px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  font-family: SFPRODISPLAYBOLD;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 44px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin: 46px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 0px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 11px;
}

.u-section-2 .u-back-image-1 {
  width: 375px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 11px;
}

.u-section-2 .u-back-image-2 {
  width: 375px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 11px;
}

.u-section-2 .u-back-image-3 {
  width: 375px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 11px;
}

.u-section-2 .u-back-image-4 {
  width: 375px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 11px;
}

.u-section-2 .u-back-image-5 {
  width: 375px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-right: 11px;
}

.u-section-2 .u-back-image-6 {
  width: 375px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 36px;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 515px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 275px;
    margin-top: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: 45px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 479px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  width: 404px;
  font-weight: 700;
  margin: 45px 368px 0;
}

.u-section-3 .u-list-1 {
  width: 994px;
  margin: 36px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 299px;
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-5 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-6 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-7 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-8 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-9 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 283px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 38px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 882px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-8 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 45px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 668px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  width: 404px;
  font-weight: 700;
  margin: 45px 368px 0;
}

.u-section-4 .u-list-1 {
  width: 994px;
  margin: 37px auto 36px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 299px;
  --gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-5 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-6 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-7 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 10px;
}

.u-section-4 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-8 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-4 .u-text-9 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 283px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: 36px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 882px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-8 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 49px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 41px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 668px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 726px;
}

.u-section-5 .u-text-1 {
  font-family: SFPRODISPLAYBOLD;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 29px 285px 0 300px;
}

.u-section-5 .u-image-1 {
  width: 524px;
  height: 430px;
  --radius: 45px;
  margin: 29px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 570px;
  height: 430px;
  --radius: 44px;
  margin: -430px 0 0 570px;
}

.u-section-5 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 13px 119px 0 593px;
}

.u-section-5 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: -34px 570px 0 15px;
}

.u-section-5 .u-text-4 {
  font-family: SFPRODISPLAYREGULAR;
  margin: -2px 0 0 593px;
}

.u-section-5 .u-text-5 {
  font-family: SFPRODISPLAYREGULAR;
  margin: -38px 570px 0 15px;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px auto 0 127px;
  padding: 10px 46px 10px 45px;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px 195px 47px 765px;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 185px;
    margin-left: 200px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 370px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 19px;
    margin-left: 493px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 385px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 493px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -39px;
    margin-right: 385px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 107px;
    margin-right: 95px;
    margin-left: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 75px;
    margin-left: 90px;
  }

  .u-section-5 .u-image-1 {
    width: 457px;
    height: 399px;
  }

  .u-section-5 .u-image-2 {
    width: 496px;
    height: 399px;
    margin-top: -399px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 576px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -36px;
    margin-right: 581px;
    margin-left: 59px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 32px;
    margin-left: 528px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -43px;
    margin-right: 548px;
    margin-left: 25px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 25px;
    margin-left: 122px;
  }

  .u-section-5 .u-btn-2 {
    margin: -42px 157px 56px auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    height: 400px;
    margin-top: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 188px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 122px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
    margin-left: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 297px;
  }

  .u-section-5 .u-image-2 {
    height: 274px;
    margin-top: 233px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-left: 4px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -504px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 477px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: -541px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 11px;
    margin-left: -1px;
    margin-right: -1px;
    padding-right: 127px;
    padding-left: 125px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 450px;
    margin-bottom: 60px;
    margin-left: auto;
    padding-right: 126px;
    padding-left: 125px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 982px;
}

.u-section-6 .u-text-1 {
  font-size: 2.5rem;
  font-family: SFPRODISPLAYBOLD;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 60px 52px 0;
}

.u-section-6 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 800px;
}

.u-section-6 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px auto 29px;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-1 {
    margin-top: 442px;
    margin-bottom: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 39px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-top: -1px;
    min-height: 267px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 700px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.5rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 2px;
  width: 557px;
  margin: 40px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin: 31px 0 55px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 491px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-7 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Screenshot2023-11-07at5.41.54PM.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-line-1 {
  width: 276px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  --animation-custom_in-scale: 0.3;
  font-family: SFPRODISPLAYMEDIUM;
  font-weight: 700;
  margin: 20px -10px 0 0;
}

.u-section-7 .u-text-3 {
  font-family: SFPRODISPLAYREGULAR;
  margin: 12px auto 0 0;
}

.u-section-7 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Screenshot2023-11-08at10.27.28PM.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-line-2 {
  width: 276px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  font-family: SFPRODISPLAYMEDIUM;
  font-weight: 700;
  margin: 20px -10px 0 0;
}

.u-section-7 .u-text-5 {
  font-family: SFPRODISPLAYREGULAR;
  margin: 12px auto 0 0;
}

.u-section-7 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/urdaneta-philippines-temple-45874-main-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-line-3 {
  width: 276px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-6 {
  --animation-custom_in-scale: 0.3;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: SFPRODISPLAYMEDIUM;
  font-weight: 700;
  margin: 20px -10px 0 0;
}

.u-section-7 .u-text-7 {
  font-family: SFPRODISPLAYREGULAR;
  margin: 12px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 56px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 42px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-gap: 30px 30px;
    min-height: 405px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 971px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-7 .u-list-1 {
    margin-top: 14px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 410px;
}

.u-section-8 .u-list-1 {
  margin: 47px 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 12px));
  min-height: 286px;
  --gap: 16px;
  grid-auto-columns: calc(25% - 12px);
}

.u-section-8 .u-list-item-1 {
  background-image: linear-gradient(130deg, #7a9cba, #d99e58);
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 20px 26px;
}

.u-section-8 .u-icon-1 {
  height: 78px;
  width: 78px;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 20px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-family: SFPRODISPLAYMEDIUM;
  margin: 20px 3px 0;
}

.u-section-8 .u-list-item-2 {
  background-image: linear-gradient(130deg, #7a9cba, #d99e58);
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 20px 26px;
}

.u-section-8 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 20px auto 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  font-family: SFPRODISPLAYMEDIUM;
  margin: 20px 3px 0;
}

.u-section-8 .u-list-item-3 {
  background-image: linear-gradient(130deg, #7a9cba, #d99e58);
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 20px 26px;
}

.u-section-8 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 20px auto 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.125rem;
  font-family: SFPRODISPLAYMEDIUM;
  margin: 20px 3px 0;
}

.u-section-8 .u-list-item-4 {
  background-image: linear-gradient(130deg, #7a9cba, #d99e58);
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 20px 26px;
}

.u-section-8 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: SFPRODISPLAYBOLD;
  margin: 20px auto 0;
}

.u-section-8 .u-text-8 {
  font-size: 1.125rem;
  font-family: SFPRODISPLAYMEDIUM;
  margin: 20px 3px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 386px;
    grid-gap: 16px 16px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    min-height: 702px;
    grid-auto-columns: calc(50% - 8px);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    min-height: 725px;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
} .u-section-9 {
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-9 .u-sheet-1 {
  min-height: 382px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 928px;
  margin: 15px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 122px;
}

.u-section-9 .u-container-layout-1 {
  padding: 17px 30px 18px;
}

.u-section-9 .u-text-1 {
  font-size: 2.5rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 1px;
  width: 370px;
  margin: 22px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 243px;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-9 .u-icon-1 {
  height: 54px;
  width: 54px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  margin: 8px 23px 0 27px;
}

.u-section-9 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  --radius: 11px;
  font-weight: 700;
  font-family: SFPRODISPLAYREGULAR;
  margin: 8px auto 0;
  padding: 2px 20px 3px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 243px;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-9 .u-icon-2 {
  height: 54px;
  width: 54px;
  margin: 9px auto 0;
}

.u-section-9 .u-text-3 {
  font-size: 1rem;
  width: 137px;
  margin: 8px auto 0;
}

.u-section-9 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  --radius: 12px;
  font-weight: 700;
  font-family: SFPRODISPLAYREGULAR;
  margin: 6px auto 0;
  padding: 3px 38px 4px;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 243px;
}

.u-section-9 .u-container-layout-4 {
  padding: 10px;
}

.u-section-9 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 15px auto 0;
}

.u-section-9 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  --radius: 12px;
  font-weight: 700;
  font-family: SFPRODISPLAYREGULAR;
  margin: 40px auto 0;
  padding: 3px 19px 4px 18px;
}

.u-section-9 .u-layout-cell-5 {
  min-height: 243px;
}

.u-section-9 .u-container-layout-5 {
  padding: 10px 4px;
}

.u-section-9 .u-icon-4 {
  height: 57px;
  width: 57px;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-9 .u-text-4 {
  font-size: 1rem;
  width: 163px;
  margin: 5px auto 0;
}

.u-section-9 .u-btn-4 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  --radius: 12px;
  border-style: solid;
  margin: 6px auto 0;
  padding: 2px 46px 4px;
}

.u-section-9 .u-layout-cell-6 {
  min-height: 243px;
}

.u-section-9 .u-container-layout-6 {
  padding: 19px 9px;
}

.u-section-9 .u-icon-5 {
  height: 57px;
  width: 57px;
  margin: 0 auto;
  padding: 0;
}

.u-section-9 .u-text-5 {
  font-size: 1rem;
  margin: 5px 2px 0;
}

.u-section-9 .u-btn-5 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  --radius: 12px;
  border-style: solid;
  margin: 6px auto 0;
  padding: 3px 46px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-9 .u-icon-2 {
    padding: 0;
  }

  .u-section-9 .u-btn-2 {
    padding: 10px 33px;
  }

  .u-section-9 .u-btn-3 {
    padding-left: 52px;
    padding-right: 53px;
  }

  .u-section-9 .u-btn-4 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 151px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 208px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-9 .u-btn-2 {
    padding-right: 35px;
    padding-left: 34px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 208px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-btn-3 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 208px;
  }

  .u-section-9 .u-text-4 {
    width: 136px;
  }

  .u-section-9 .u-btn-4 {
    padding-right: 41px;
    padding-left: 41px;
  }

  .u-section-9 .u-layout-cell-6 {
    min-height: 208px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-9 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 9px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-9 .u-btn-5 {
    margin-top: 10px;
    padding-right: 38px;
    padding-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 174px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 233px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 181px;
  }

  .u-section-9 .u-btn-3 {
    padding-right: 34px;
    padding-left: 33px;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-6 {
    min-height: 641px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 96px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-9 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 5px;
    margin-right: auto;
    padding-right: 18px;
    padding-left: 18px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 203px;
  }

  .u-section-9 .u-btn-2 {
    padding-top: 3px;
    padding-right: 36px;
    padding-bottom: 3px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 173px;
  }

  .u-section-9 .u-btn-3 {
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 173px;
  }

  .u-section-9 .u-btn-4 {
    padding-right: 45px;
    padding-left: 45px;
  }

  .u-section-9 .u-layout-cell-6 {
    min-height: 208px;
  }

  .u-section-9 .u-icon-5 {
    margin-top: 15px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-5 {
    margin-top: 4px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 640px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  font-size: 2.5rem;
  letter-spacing: 0px;
  font-family: SFPRODISPLAYBOLD;
  margin: 151px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.375rem;
  font-family: SFPRODISPLAYREGULAR;
  line-height: 1.35;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 60px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 19px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 424px;
  }
}body {
  padding-top: constant(safe-area-inset-top); /* For iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* For iOS 11.2 and later */
  background-color: #ffffff; /* Replace #yourColor with your desired background color */
}
.roundedBorder img {
   border-radius: 12px
}
.colorWhite {
	color: white;
}
.floatingChat {
    position: fixed;
    bottom: 20px;
    left: 14px;
    display: flex;
	flex-direction: column;
	z-index: 999999
}
/* page-custom-fonts */
@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYREGULAR';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYMEDIUM';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}