.u-section-1 .u-sheet-1 {
  min-height: 101px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 29px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  min-height: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -26px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 355px;
  background-image: url("images/LevoHotel-1-min1.jpg");
  --radius: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-btn-1 {
  --radius: 20px;
  background-image: none;
  font-weight: 700;
  box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
  margin: 242px auto 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/LevoHotel-48-min1.jpg");
  --radius: 40px;
  min-height: 355px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  --radius: 20px;
  font-weight: 700;
  box-shadow: -2px 0px 5px 0px rgba(128,128,128,1);
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1263px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 329px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-2 .u-image-1 {
    min-height: 293px;
  }

  .u-section-2 .u-image-2 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1279px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 350px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 309px;
  }

  .u-section-2 .u-image-2 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1581px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 255px;
  }

  .u-section-2 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    order: 0;
    min-height: 505px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 505px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -33px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 227px;
  }

  .u-section-2 .u-image-2 {
    min-height: 318px;
  }
} .u-section-3 {
  min-height: 379px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -26px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 355px;
  background-image: url("images/ChatGPTImageDec3202509_28_31PM.png");
  --radius: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1263px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 329px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-3 .u-image-1 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1279px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 350px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1581px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 255px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    order: 0;
    min-height: 505px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -33px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-3 .u-image-1 {
    min-height: 334px;
  }
} .u-section-4 {
  min-height: 379px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -26px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 355px;
  background-image: url("images/brian-zajac-Wp4fR7J0c0Y-unsplash.jpg");
  --radius: 40px;
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1263px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 329px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-4 .u-image-1 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1279px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 350px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 309px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1581px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 255px;
  }

  .u-section-4 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    order: 0;
    min-height: 505px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 607px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -9px;
    margin-bottom: -24px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-4 .u-image-1 {
    min-height: 334px;
  }
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}