.u-section-1 .u-sheet-1 {
  min-height: 155px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  font-weight: 700;
  width: 404px;
  margin: 45px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 54px;
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 95px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin: 31px 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 479px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  width: 404px;
  font-weight: 700;
  margin: 45px 368px 0;
}

.u-section-2 .u-list-1 {
  width: 994px;
  margin: 37px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 299px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-5 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-6 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-7 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-8 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-9 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 882px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 45px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 668px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 479px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  width: 404px;
  font-weight: 700;
  margin: 45px 368px 0;
}

.u-section-3 .u-list-1 {
  width: 994px;
  margin: 37px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 299px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-5 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-6 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-7 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-8 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-9 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 882px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 41px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 668px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 765px;
}

.u-section-4 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 46px 735px 0 0;
}

.u-section-4 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 1px 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 625px;
  margin: 14px 0 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-4 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 40px;
    margin-right: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 316px;
    width: 392px;
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: 35px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 755px;
}

.u-section-5 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 36px 735px 0 0;
}

.u-section-5 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 1px 0 0;
}

.u-section-5 .u-gallery-1 {
  height: 625px;
  margin: 14px 0 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 40px;
    margin-right: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-gallery-1 {
    height: 310px;
    width: 397px;
    margin: 21px -28px 35px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 765px;
}

.u-section-6 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 46px 735px 0 0;
}

.u-section-6 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 1px 0 0;
}

.u-section-6 .u-gallery-1 {
  height: 625px;
  margin: 14px 0 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 40px;
    margin-right: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 283px;
    width: 401px;
    margin: 18px -30px 50px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 765px;
}

.u-section-7 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 46px 735px 0 0;
}

.u-section-7 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 1px 0 0;
}

.u-section-7 .u-gallery-1 {
  height: 625px;
  margin: 14px 0 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-7 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 40px;
    margin-right: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 50px;
    margin-right: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 283px;
    width: 395px;
    margin: 9px -27px 50px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 824px;
}

.u-section-8 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 47px 735px 0 0;
}

.u-section-8 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 1px 0 0;
}

.u-section-8 .u-gallery-1 {
  height: 625px;
  margin: 14px 0 31px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-8 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 40px;
    margin-right: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-gallery-1 {
    height: 294px;
    width: 399px;
    margin: 11px -29px 50px;
  }
}.roundedBorder img {
   border-radius: 12px
}
.colorWhite {
	color: white;
}
.floatingChat {
    position: fixed;
    bottom: 20px;
    left: 14px;
    display: flex;
	flex-direction: column;
	z-index: 999999
}
.center {
  margin: auto	
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYMEDIUM';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYREGULAR';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}