.u-section-1 .u-sheet-1 {
  min-height: 155px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  font-weight: 700;
  width: 404px;
  margin: 45px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 95px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 479px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  width: 404px;
  font-weight: 700;
  margin: 45px 368px 0;
}

.u-section-2 .u-list-1 {
  width: 994px;
  margin: 37px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 299px;
  --gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-5 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-6 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-7 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-8 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 10px;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-2 .u-text-9 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 283px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 882px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-8 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 45px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 668px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 479px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-family: SFPRODISPLAYBOLD;
  letter-spacing: 4px;
  width: 404px;
  font-weight: 700;
  margin: 45px 368px 0;
}

.u-section-3 .u-list-1 {
  width: 994px;
  margin: 37px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 299px;
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-4 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-5 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-6 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-7 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-8 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: 0 79px;
}

.u-section-3 .u-text-9 {
  font-family: SFPRODISPLAYBOLD;
  width: 171px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 268px;
    margin-right: 268px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 283px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 882px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-8 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 41px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 668px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 795px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  --radius: 13px;
  font-family: SFPRODISPLAYBOLD;
  margin: 39px 0 0 auto;
}

.u-section-4 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: -55px 832px 0 0;
}

.u-section-4 .u-text-2 {
  font-family: SFPRODISPLAYBOLD;
  margin: 1px 0 0 898px;
}

.u-section-4 .u-text-3 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: -21px 570px 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 625px;
  margin-top: 11px;
  margin-bottom: 50px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 632px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 698px;
  }

  .u-section-4 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-4 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-4 .u-carousel-item-3 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -56px;
    margin-right: 268px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 478px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 298px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 422px;
    margin-left: 0;
    padding: 10px 128px 10px 126px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -437px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 326px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    margin-top: -339px;
  }

  .u-section-4 .u-gallery-1 {
    height: 250px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 786px;
}

.u-section-5 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 15px 735px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  --radius: 13px;
  font-family: SFPRODISPLAYBOLD;
  margin: -47px 0 0 auto;
}

.u-section-5 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 2px 0 0;
}

.u-section-5 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  margin: -19px 0 0 898px;
}

.u-section-5 .u-gallery-1 {
  height: 625px;
  margin: 13px 0 50px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 1px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 698px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-2 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 315px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 135px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -20px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 298px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: -22px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 24px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 331px;
    margin-right: auto;
    padding: 10px 127px 10px 126px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -377px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 258px;
    margin-left: 0;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: -268px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 798px;
}

.u-section-6 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 32px 735px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  --radius: 13px;
  font-family: SFPRODISPLAYBOLD;
  margin: -52px 0 0 auto;
}

.u-section-6 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 7px 0 0;
}

.u-section-6 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  margin: -26px 0 0 898px;
}

.u-section-6 .u-gallery-1 {
  height: 625px;
  margin: 20px 0 46px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 698px;
  }

  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-6 .u-carousel-item-2 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 315px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 135px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 341px;
    margin-right: auto;
    padding: 10px 127px 10px 126px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -387px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 267px;
    margin-left: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 236px;
    margin-top: -273px;
    margin-bottom: 124px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 793px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  --radius: 13px;
  font-family: SFPRODISPLAYBOLD;
  margin: 22px 0 0 auto;
}

.u-section-7 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: -43px 735px 0 0;
}

.u-section-7 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 1px 0 0;
}

.u-section-7 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  margin: -29px 0 0 898px;
}

.u-section-7 .u-gallery-1 {
  height: 625px;
  margin-top: 22px;
  margin-bottom: 52px;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 698px;
  }

  .u-section-7 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-7 .u-carousel-item-2 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 37px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -51px;
    margin-right: 315px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -4px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: -22px;
    margin-left: 478px;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: 135px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 39px;
    margin-left: 0;
    padding: 9px 128px 11px 126px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -448px;
    margin-right: 88px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 296px;
    margin-left: 0;
  }

  .u-section-7 .u-gallery-1 {
    height: 276px;
    margin-top: -313px;
    margin-bottom: -276px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 800px;
}

.u-section-8 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: 23px 735px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  --radius: 13px;
  font-family: SFPRODISPLAYBOLD;
  margin: -56px 0 0 auto;
}

.u-section-8 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 11px 0 0;
}

.u-section-8 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  margin: -25px 0 0 898px;
}

.u-section-8 .u-gallery-1 {
  height: 625px;
  margin: 17px 0 55px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 698px;
  }

  .u-section-8 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-8 .u-carousel-item-2 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-right: 315px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: -52px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-right: 242px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: -48px;
    margin-left: 478px;
  }

  .u-section-8 .u-gallery-1 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 135px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 62px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 313px;
    margin-left: 0;
    padding: 9px 128px 11px 126px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -362px;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 244px;
    margin-left: 0;
  }

  .u-section-8 .u-gallery-1 {
    height: 216px;
    margin-top: -251px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 793px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  --radius: 13px;
  font-family: SFPRODISPLAYBOLD;
  margin: 22px 0 0 auto;
}

.u-section-9 .u-text-1 {
  font-family: SFPRODISPLAYMEDIUM;
  font-size: 3rem;
  margin: -43px 735px 0 0;
}

.u-section-9 .u-text-2 {
  font-family: SFPRODISPLAYREGULAR;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 1px 0 0;
}

.u-section-9 .u-text-3 {
  font-family: SFPRODISPLAYBOLD;
  margin: -29px 0 0 898px;
}

.u-section-9 .u-gallery-1 {
  height: 625px;
  margin-top: 22px;
  margin-bottom: 52px;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-9 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-9 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-9 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-9 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    font-family: SFPRODISPLAYBOLD;
    margin-right: 535px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 698px;
  }

  .u-section-9 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-9 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-9 .u-carousel-item-3 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-btn-1 {
    margin-top: 37px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: -51px;
    margin-right: 315px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -4px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: -22px;
    margin-left: 478px;
  }

  .u-section-9 .u-gallery-1 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-top: 20px;
    margin-right: 135px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-btn-1 {
    margin-top: 39px;
    margin-left: 0;
    padding: 9px 128px 11px 126px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -448px;
    margin-right: 88px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-9 .u-text-3 {
    margin-top: 296px;
    margin-left: 0;
  }

  .u-section-9 .u-gallery-1 {
    margin-top: -313px;
    margin-bottom: -276px;
  }
}.roundedBorder img {
   border-radius: 12px
}
.colorWhite {
	color: white;
}
.floatingChat {
    position: fixed;
    bottom: 20px;
    left: 14px;
    display: flex;
	flex-direction: column;
	z-index: 999999
}
.center {
  margin: auto	
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'SFPRODISPLAYBOLD';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYBOLD.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYMEDIUM';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYMEDIUM.OTF);
}@font-face {
  font-family: 'SFPRODISPLAYREGULAR';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}@font-face {
  font-family: 'nergishanergisha-0w1dp';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/nergishanergisha-0w1dp.otf);
}